* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}




/* start of header */

.header{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    padding: 20px 40px;
    font-size: 2rem;
    position: fixed;
    width: 100%;
}

.header a{
    color: white;
}


.left{
    flex-basis: 55%;
    font-weight: bold;
    position: relative;
}


.right{
    display: flex;
    padding-right: 0px;
    position: relative;
}

.same{
    margin-right: 80px;
    font-size: 1.5rem;
}

.same:hover{
    border-bottom: 3px solid white;
}


.no{
    font-size: 1.5rem;
}

.not{
    background-color: red;
    text-transform: uppercase;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
}


.no a{
    color: black;
}

.not:hover{
    background-color: black;
}
.no a:hover{
    color: white;
}



/* end of header */





/* start of home */

.home{
    background-image: url(house2.jpeg);
    background-size: cover;
    height: 900px;
    margin: auto;
    text-align: center;
    padding: 300px 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.vac{
    color: rgba(255, 255, 255, 0.788);
    text-transform: uppercase;
    font-size: 6rem;
}


.cap{
    font-size: 2rem;
    margin: 10px 0px 20px 0px;
    color: rgba(255, 255, 255, 0.788);
}


.link {
    display: flex;
    justify-content: space-between;
    width: 31%;
    margin: auto;
}


.browse{
    background-color: red;
    padding: 15px 45px;
    border-radius: 5px;
}

.link a{
    color: black;
    font-size:1.1rem;
}


.video{
    background-color: white;
    padding: 15px 45px;
    border-radius: 5px;
    text-align: center;
}



/* end of home */



.all {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.all img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.all img:hover{
    transform: scale(1.02);
}

.all a {
    font-size: 20px;
    color: rgb(176, 174, 174);
}

.come {
    background-color: rgb(249, 249, 249);
    padding: 20px;
    width: 500px;
    margin-top: -10px;
    text-transform: capitalize;
}




/* .night{
    background-color: rgb(56, 142, 255);
    padding: 5px 2.5px;
    font-size: 12px;
    left: 5px;
    bottom: 10px; 
    margin-right: 435px; 
} */


/* .nig{
    background-color: rgb(56, 142, 255);
    padding: 5px 2.5px;
    font-size: 12px;
    left: 10px;
    bottom: 5px;
    margin-right: 435px;
} */


.cool{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 60px 0px;
}




.some{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}



.some a{
    font-size: 20px;
    color: rgb(176, 174, 174);
}


.sam{
    background-color: rgb(249, 249, 249);
    padding: 20px;
    width: 305px;
    margin-top: -10px;
    text-transform: capitalize;
}




.tour{
    background-color: rgb(56, 142, 255);
    padding: 5px 5px;
    font-size: 12px;
    margin-right: 240px;
    left: 10px;
    bottom: 5px;
} 






.some img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.some img:hover {
    transform: scale(1.02);
}



.co{
    background-color: rgb(249, 249, 249);
        padding: 20px;
        width: 500px;
        margin-top: -10px;
        text-transform: capitalize;
}


/* figure{
    position: relative;
}

figcaption{
    position: absolute;
    padding: 10rem 2rem 2rem;
    bottom: 50;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    text-align: center;
} */








.footer{
    background-color: rgb(45, 44, 44);
    color: white;
    margin-top: 100px;
    height: 100%;
    padding-top: 60px;
    width: 100%;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer p{
    text-align: center;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer .join{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 30px;
    font-size: 25px;
}

.footer input{
    width: 250px;
    height: 45px;
    padding-left: 30px;
    font-size: 18px;
    outline: none;
}
.footer ::placeholder{
    color: rgb(181, 181, 181);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mail{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 40%;
}

.mail button{
    background-color: red;
    padding: 12px 15px;
    border: 0px;
    border-radius: 2px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
}

.mail button:hover{
    background-color: black;
    color: white;
}




.whine{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 70%;
    line-height: 30px;
}

.whine a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top:hover{
    color: red;
}

.whine a:hover{
    color: red;
}

.top{
    text-transform: capitalize;
    line-height: 80px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

/* .top:hover{
    color: red;
} */


.whine li{
    list-style: none;
}

.lose{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


.win{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.soc{
    margin-left: 100px;
}

.sub{
    margin-right: 100px;
}


.feet{
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: auto;
    margin-top: 80px;
    justify-content: space-around;
    width: 40%;
    padding-bottom: 50px;
}

.logo{
    font-weight: bold;
}

.feet a:hover{
    color: red;
}

.feet p{
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
}

.feet p a{
    color: rgba(128, 0, 128, 0.813);
}

.feet p a:hover{
    color: rgba(128, 0, 128, 0.813);
}







/* start of medium screens */
@media (max-width:800px) and (min-width:500px) {


    .left {
        flex-basis: 65%;
    }


    .right{
        display: none;
    }

    .left{
        margin-left: -20px;
    }

    .home{
        padding: 0px 0px;
        padding-top: 300px;
        width: 100%;
    }

    .link{
        display: block;
        width: 35%;
    }

    .link a{
        font-size: 1rem;
        text-align: center;

    }
    .browse{
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    .video{
        padding: 15px 30px;
    }


    .vac{
        font-size: 4rem;
        text-align: center;
    }

    .cap{
        font-size: 1.5rem;
    }



    .all{
        display: block;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .all img{
        width: 350px;
        height: 250px;
    }

    .some{
        display: block;
        text-align: center;
        width: 100%;
    }

    .some img{
        width: 350px;
        height: 250px;
    }

    .all a{
        font-size: 16px;
    }

    .some a{
        font-size: 16px;
    }

    .co{
        width: 350px;
        margin: auto;
    }

    .sam{
        width: 350px;
        margin: auto;
    }

    .first{
        margin-bottom: 40px;
    }

    .one{
        margin-bottom: 40px;
    }

    .two {
        margin-bottom: 40px;
    }

    .footer p{
        width: 90%;
        margin: auto;
    }


    .mail{
        display: block;
    }

    .mail button{
        width: 250px;
        margin-top: 20px;
    }


    .footer .join{
        font-size: 23px;
    }

    .footer p{
        font-size: 15px;
    }

    .whine{
        display: block;
        width: 80%;
    }


    .win{
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .lose{
        justify-content: space-evenly;
    }

    .feet{
        display: block;
        width: 100%;
    }

    .logo{
        text-align: center;
    }


}


/* end of mediu screens */









/* start of small screens */

@media  (max-width:499px)  {

    .left{
        font-size: 1rem;
    }

    .right{
        display: none;
    }
    .home{
        width: 100%;
        margin: auto;
        height: 600px;
    }

    .vac{
        font-size: 2.2rem;
    }

    .cap{
        font-size: 1.1rem;
    }

    .link a{
        font-size: 0.8rem;
    }

    .cool{
        font-size: 14px ;
        font-weight: bold;
        width: 80%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .link {
    display: block;
    width: 40%;
    }


    .browse {
        padding: 15px 0px;
        margin-bottom: 20px;
    }

    .video{
        padding: 15px 0px;
    }


    .all {
        display: block;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .all img {
        width: 300px;
        height: 200px;
    }

    .some {
        display: block;
        text-align: center;
        width: 100%;
    }

    .some img {
        width: 300px;
        height: 200px;
    }

    .all a {
        font-size: 16px;
    }

    .some a {
            font-size: 16px;
    }

    .co {
        width: 300px;
        margin: auto;
    }

    .sam {
        width: 350px;
        margin: auto;
    }

    .first {
        margin-bottom: 40px;
    }

    .one {
        margin-bottom: 40px;
    }

    .two {
        margin-bottom: 40px;
    }

    .feet{
        display: block;
    }
    .whine{
        display: block;
    }

    .win{
        display: block;
    }

    .lose{
        display: block;
    }

    .mail{
        display: block;
        width: 100%;
        text-align: center;
    }

    

    .feet{
        width: 100%;
    }

    .logo{
        text-align: center;
    }

    .soc {
        margin-right: 100px;
        margin-top: 20px;
    }
    
    .sub {
        margin-left: 100px;
        margin-top: 20px;
    }

    .con{
        margin-top: 20px;
    }

    .about{
        margin-top: 20px;
    }

    .mail button {
        width: 250px;
        margin-top: 20px;
    }

    
    
    .footer .join {
        font-size: 23px;
    }
    
    .footer p {
        font-size: 15px;
    }

}
/* end of small screens */










/* start of big screens */

@media (max-width:1300px) and (min-width:800px) {
    .left{
        flex: 10%;
        font-size: 1.5rem;
    }

    .right a{
        font-size: 1.2rem;
    }

    

    .vac{
        font-size: 4.5rem;
    }

    .link{
        display: block;
    }

    .browse{
        margin-bottom: 20px;
    }

    .cool{
        font-size: 20px;
    }

    .all img{
        width: 320px;
        height: 280px;
    }

    .all{
        width: 85%;
    }

    .co{
        width: 320px;
        font-size: 16px;
    }

    .some{
        width: 85%;
    }

    .some img{
        width: 210px;
        height: 160px;
    }

    .sam{
        font-size: 14px;
        width: 210px;

    }



    .nig {
        padding: 5px 0px;
        padding-right: 50px;
        padding-left: 20px;
    }

    .tour{
        padding: 5px 0px;
        padding-right: 45px;
        padding-left: 5px;
    }


    .footer p{
        font-size: 14px;
    }

    .footer .join{
        font-size: 23px;
    }


    .mail{
        display: block;
        text-align: center;
    }

    .mail button{
        font-size: 16px;
        width: 230px;
    }



    .footer ::placeholder{
        font-size: 16px;
    }

    .footer input{
        width: 230px;
        margin-bottom: 20px;
    }


    .whine{
        font-size: 16px;
        width: 85%;
    }

    .top{
        font-size: 18px;
    }

    .soc{
        padding-right: 60px;
    }

    .feet{
        display: block;
        text-align: center;
    }

    .logo{
        font-size: 1.5rem;
    }

}

/* end of big screens */




